<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>Playlist App</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="songs.js"></script>
</head>

<body>
   <div ng-controller="mainController">
      <!-- Main screen -->
      <h1>My Playlist</h1>
      <ul>
        <li ng-repeat="song in songs">{{song.title}} by {{song.artist}}</li>
      </ul>
      <button ng-click="initNewSong()">Add song</button>
      <!-- New song form -->
      <hr>
      <form ng-show="newSong">
          <h2>Add Song</h2>
          <p>Title <input type="text" ng-model="newSong.title"></p>
          <p>Artist <input type="text" ng-model="newSong.artist"></p>

          <button ng-click="saveNewSong()">Submit</button>
          <button ng-click="cancelNewSong()">Cancel</button>
      </form>
   </div>
</body>

</html>
